# Ignorar logs
# Dependências
node_modules/
/dist
/build

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Variáveis de ambiente
.env
.env.local
.env.development
.env.production

# Arquivos de IDE (VS Code, por exemplo)
.vscode/
*.swp